Repository yuricavalini/ngrx-courses-state-management: changes, and which lint-staged commands are due for each by the changed paths.
All: node ng-lint-staged.js lint:fix, npx eslint --fix, npx stylelint --allow-empty-input --fix

.lintstagedrc:

{
  "**/*.{ts,html}": ["node ng-lint-staged.js lint:fix"],
  "**/*.{js,json}": ["npx eslint --fix"],
  "**/*.{css,scss,sass}": ["npx stylelint --allow-empty-input --fix"]
}

chore(courses-state-management): add LICENSE and update README credits
  LICENSE
  README.md
Due: none

chore(courses-state-management): add @ngrx/store @ngrx/store-devtools @ngrx/schematics @ngrx/eslint
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
Due: npx eslint --fix

feat(courses-state-management): add basic structure for app and login components applying ngrx
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.service.ts
  src/app/auth/login/login.component.html
  src/app/auth/login/login.component.scss
  src/app/auth/login/login.component.ts
  src/app/auth/model/user.model.ts
  src/app/auth/reducers/index.ts
  src/styles.scss
Due: node ng-lint-staged.js lint:fix, npx stylelint --allow-empty-input --fix

chore(courses-state-management): add ts-node, express and cors
  package-lock.json
  package.json
Due: npx eslint --fix

chore(courses-state-management): add proxy config
  proxy.config.json
Due: npx eslint --fix

feat(courses-state-management): add server
  package.json
  server/auth.route.ts
  server/create-course.route.ts
  server/db-data.ts
  server/delete-course.route.ts
  server/get-courses.route.ts
  server/save-course.route.ts
  server/search-lessons.route.ts
  server/server.ts
  server/server.tsconfig.json
  shared/models/course.ts
  shared/models/lesson.ts
  shared/models/user.ts
Due: node ng-lint-staged.js lint:fix, npx eslint --fix

chore(courses-state-management): add commitlint rule for scope-enum
  commitlint.config.js
Due: npx eslint --fix

feat(courses-state-management): add auth and courses module, and ngrx store for auth and app
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/auth/action-types.ts
  src/app/auth/auth.actions.ts
  src/app/auth/auth.guard.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.selectors.ts
  src/app/auth/auth.service.ts
  src/app/auth/login/login.component.ts
  src/app/auth/model/user.model.ts
  src/app/auth/reducers/index.ts
  src/app/courses/courses.module.ts
  src/app/courses/home/home.component.html
  src/app/courses/home/home.component.scss
  src/app/courses/home/home.component.ts
  src/app/reducers/index.ts
Due: node ng-lint-staged.js lint:fix, npx stylelint --allow-empty-input --fix

chore(courses-state-management): add @ngrx/effects
  package-lock.json
  package.json
Due: npx eslint --fix

feat(courses-state-management): add login and logout effects
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/auth/auth.effects.ts
  src/app/auth/auth.module.ts
Due: node ng-lint-staged.js lint:fix

chore(courses-state-management): add @ngrx/router-store and time-travelling debugger
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/reducers/index.ts
Due: node ng-lint-staged.js lint:fix, npx eslint --fix

feat(courses-state-management): add ngrx metareducer login function
  src/app/reducers/index.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): add basic structure for courses module
  package-lock.json
  package.json
  src/app/courses/course/course.component.html
  src/app/courses/course/course.component.scss
  src/app/courses/course/course.component.ts
  src/app/courses/courses-card-list/courses-card-list.component.html
  src/app/courses/courses-card-list/courses-card-list.component.scss
  src/app/courses/courses-card-list/courses-card-list.component.ts
  src/app/courses/courses.module.ts
  src/app/courses/edit-course-dialog/edit-course-dialog.component.html
  src/app/courses/edit-course-dialog/edit-course-dialog.component.scss
  src/app/courses/edit-course-dialog/edit-course-dialog.component.ts
  src/app/courses/edit-course-dialog/models/edit-course-dialog-data.ts
  src/app/courses/home/home.component.html
  src/app/courses/home/home.component.ts
  src/app/courses/services/courses-http.service.ts
  src/app/courses/shared/default-dialog-config.ts
Due: node ng-lint-staged.js lint:fix, npx eslint --fix, npx stylelint --allow-empty-input --fix

chore(courses-state-management): add @ngrx/entity
  package-lock.json
  package.json
Due: npx eslint --fix

feat(courses-state-management): add initial structure for courses store
  src/app/courses/action-types.ts
  src/app/courses/course.actions.ts
  src/app/courses/courses.effects.ts
  src/app/courses/courses.module.ts
  src/app/courses/courses.resolver.ts
  src/app/courses/reducers/course.reducers.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): add courses selectors
  src/app/courses/courses.selectors.ts
  src/app/courses/reducers/course.reducers.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): add courses store configuration
  src/app/courses/courses.module.ts
Due: node ng-lint-staged.js lint:fix

refactor(courses-state-management): refator resolver to load data only once
  src/app/courses/courses.resolver.ts
Due: node ng-lint-staged.js lint:fix

refactor(courses-state-management): refator home component to use store
  src/app/courses/home/home.component.html
  src/app/courses/home/home.component.ts
Due: node ng-lint-staged.js lint:fix

refactor(courses-state-management): refactor edit-course-dialog to use optimistic data editing
  src/app/courses/course.actions.ts
  src/app/courses/courses-card-list/courses-card-list.component.html
  src/app/courses/courses.effects.ts
  src/app/courses/edit-course-dialog/edit-course-dialog.component.ts
  src/app/courses/reducers/course.reducers.ts
Due: node ng-lint-staged.js lint:fix

fix(courses-state-management): fixes the naming standard for API routes
  server/server.ts
  src/app/courses/services/courses-http.service.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): add many new actions and refactors to group them by source
  src/app/courses/action-types.ts
  src/app/courses/course-api.actions.ts
  src/app/courses/course-page.actions.ts
  src/app/courses/course.actions.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): add more complex state and granular control
  src/app/courses/courses.effects.ts
  src/app/courses/courses.selectors.ts
  src/app/courses/reducers/course.reducers.ts
  src/app/courses/router.selectors.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): implement view model selector for couse component
  src/app/courses/course/course.component.html
  src/app/courses/course/course.component.scss
  src/app/courses/course/course.component.ts
Due: node ng-lint-staged.js lint:fix, npx stylelint --allow-empty-input --fix

refactor(courses-state-management): move conditionally dispatched action logic to effect
  src/app/courses/courses.resolver.ts
Due: node ng-lint-staged.js lint:fix

refactor(courses-state-management): update action import in EditCourseDialogComponent
  src/app/courses/edit-course-dialog/edit-course-dialog.component.ts
Due: node ng-lint-staged.js lint:fix

feat(courses-state-management): implement course delete action
  src/app/courses/courses-card-list/courses-card-list.component.html
  src/app/courses/courses-card-list/courses-card-list.component.ts
  src/app/courses/home/home.component.html
  src/app/courses/home/home.component.ts
Due: node ng-lint-staged.js lint:fix
